<div>
  <h1>{{title}}</h1>
  <p>First player who creates horizontal, vertical, or diagonal row of {{winCondition}} symbols wins!</p>
  <p>Size:
    <input type="range" min="5" max="20" value="5" [(ngModel)]="_size">
    {{_size}}
  </p>
  <button (click)="reset()">Reset</button>
  <p>Turn: <span class="bluePlayer" [ngClass]="{'redPlayer':playerTurn===0}">{{currentPlayerTurn}}</span></p> <!-- review -->
  <p>Winner: {{winner}}</p>

  <table class="gameTable">
    <tr class="gameRow" *ngFor="let row of cells; let i = index">
      <td *ngFor="let cell of row; let j = index"
          (click)="cellClicked(i, j)" class="gameCell">
        <img [src]="getImage(cell)" /> <!-- review -->
      </td>
    </tr>
  </table>
</div>
